@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

$fontStack: Raleway, Helvetica, Verdana, Arial, sans-serif;
$fontSize: calc(14px + (21 - 14) * (100vw - 412px) / (1920 - 412));


$backgroundColor: hsl(0, 0%, 97%);
$textColor: hsl(0, 0%, 8%);
$primaryColor: #88BF77;
$secondaryColor: #5B7F4F;