@import './variables';

.where {
    display: flex;
}

.whereLeft {
    max-width: 50vw;
}

.mapContainer {
    min-width: 50vw;
}
.whyUs {
    display: flex;
    justify-content: space-between;
}

.imageGrid {
    text-transform: uppercase;

    &__container {
        display: flex;
        justify-content: space-between;
    }
}